/* ########### */
/* POLICES */
/* ########### */

@font-face {
    font-family: 'LiberationSans-Bold-webfont';
    src: url('asset/fonts/LiberationSans-Bold-webfont.ttf') format("truetype");
}

@font-face {
    font-family: 'LiberationSans-Regular-webfont';
    src: url('asset/fonts/LiberationSans-Regular-webfont.ttf') format("truetype");
}

/* ########### */
/* GENERAL */
/* ########### */

* {
    box-sizing: border-box;
    margin-bottom: 0;
}

body {
    text-align: center;
    font-family: 'LiberationSans-Regular-webfont', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

/* ########### */
/* HEADER */
/* ########### */

header p {
    text-align: right;
    font-size: 20px;
    margin-right: 50px;
}

header img {
    float: left;
}

header {
    height: 150px;
}

/* ########### */
/* MAIN */
/* ########### */

.intro {
    margin: 30px;
    font-size: 25px;
    font-weight: bold;
}

nav {
    float: right;
    display: block;
}

nav li {
    float: left;
    margin-left: 100px;
}

.intro p {
    text-align: left;
    padding-top: 25px;
}

.banniere {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0 10px;
}

/* ########### */
/* CONTENU */
/* ########### */

.contenu {
    padding: 20px 50px 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.article {
    margin: 20px 5px;
}

.solde {
    float: right;
    margin: 10px 0 0 -30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10%;
    font-weight:bold;
    font-size: 18px;
    padding: 10px;
    position: relative;
}

.article img {
    height: 300px;
}

.article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.see {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
}

.article span {
    color: black;
    text-decoration:line-through;
}

.prix {
    color: blue;
    margin: 0;
}

.lookbook {
    width: 25%;
}

.lookbook img {
    width: 100%;
}

/* ########### */
/* FOOTER */
/* ########### */

.bontons {
    height: 30px;
}

footer button {
    background-color: white;
    color: black;
    padding: 20px 40px;
    margin: 0 20px -30px;
    border: 2px solid black;
}

footer button:hover {
    background-color: #0b0b0b;
    color: white;
    border: 2px solid #c99947;
}

.contenufooter {
    display: flex;
    justify-content: space-evenly;
    background-color: #0b0b0b;
    color: #8a8a8a;
    margin: 0;
    padding: 60px 0 30px;
    height: 100%;
}

.talk {
    color: #c99947;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer p {
    margin-bottom: 20px;
}

h3 {
    color: white;
    font-weight: 100;
    font-size: 25px;
}

hr {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 30px;
}

.iconrs, .icones {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.iconrs img, .icones figure {
    margin: 0 10px;
}

footer img {
    width: 50px;
    height: 50px;
}

footer ul {
    align-items: center;
    display: inline;
    padding: 0;
}

footer li {
    margin: 15px 0;
}

footer span {
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.icones figure {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.icones img {
    padding: 8px;
}

figure {
    margin: 0;
}

/* ############### RESPONSIVE ############### */

@media screen and (max-width: 1000px) {
    /* HEADER */

    header {
        height: 120px;
    }

    header img {
        height: 120px;
    }

    header p {
        margin: 10px 20px;
    }

    /* MAIN */

    .intro p {
        padding: 0;
        margin: 0;
    }

    .intro {
        font-size: 20px;
    }

    nav li {
        margin-left: 30px;
    }

    .banniere {
        height: 500px;
        margin: 0;
    }

    .contenu {
        display: block;
    }

    .articles {
        width: 100%;
        justify-content: center;
    }

    .article img {
        height: 250px;
    }

    .article div {
        width: 250px;
    }

    .prix {
        margin-top: 0;
    }

    .article span {
        font-size: 12px;
    }

    .lookbook img {
        display: none;
    }

    /* FOOTER */

    .contenufooter {
        display: block;
    }

    .boutons {
        display: flex;
        justify-content: center;
    }

    .iconrs, .icones {
        justify-content: center;
    }

    .talk {
        margin-top: 50px;
    }
}

@media screen and (max-width: 800px) {
    /* HEADER */

    header {
        height: 150px;
    }

    header img {
        float: none;
    }

    header p {
        text-align: left;
    }

    .intro {
        font-size: 18px;
    }

    .intro p {
        display: none;
    }

    .banniere {
        height: 300px;
    }

    .article img {
        height: 400px;
    }

    .article p {
        font-size: 25px;
        align-content: center;
    }

    .article span {
        font-size: 20px;
    }

    .article div {
        width: 400px;
    }

    .talk {
        margin-top: 25px;
    }

    .boutons {
        justify-content: center;
    }

    footer button {
        margin-bottom: -35px;
        padding: 10px 20px;
    }
}